server:
  port: 8080
spring:
  application:
    name: "PruebaAccenture"
  devtools:
    add-properties: false
    restart:
      enabled: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    active: local
aws:
  dynamodb:
    endpoint: "http://localhost:8000"
  region: "us-east-1"
  access-key: "dummy"
  secret-key: "dummy"
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
